html, body {
  width: 400px;
}

.settings {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}
.inputError {
    border-color: red;
}
.errorNotFound {
    font-size: smaller;
    color: red;
}

.go_button {
    grid-column: 1 / span 2;
    width: 100%;
    background-color: #E5F2F2;
}
.settings_button:hover {
    background-color: #CFF2F2;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}
